 <html lang="en">
  <head>

  <title>Transaction</title>
  </head>
  <body>
    <form action="/items/<%= id %>/buy" method="POST">
      <label>Quantity</label>
      <input type="number" name="quantity">
      <br>
     
      <button type="submit">Confirm</button>
    </form>
  </body>
</html>